.filters {
  background-color: white;
  position: relative;
  height: 70px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

.filters button {
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border-style: none;
  border-radius: 4px;
  font-size: 18px;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  right: 30px;
}

.filters button:hover {
  opacity: 0.9;
}

.filters .locations,
.filters .amenities {
  
  height: 100%;
  width: 25%;
  display: inline-block;
  position: relative;
  top: 50%;
  margin-top: -50%;
  margin-left: 40px;
}

.filters .locations {
  border-right: 1px solid #dddddd;
}

.filters .locations h3,
.filters .amenities h3 {
  font-weight: 600;
  margin-bottom: 0;
}

.filters .locations h4,
.filters .amenities h4 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
}
